@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Sans-Serif;
  font-size: 16px;
}

/* Elements style  */
#fullPage {
  max-width: 1440px;
  margin: 0 auto;
}

/* NAVIGATION  */
nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 299px;
  height: 34px;
}
.navigation {
  margin-right: 170px;
}
.navigation li {
  display: inline-block;
  list-style: none;
  margin: 0 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  transform: scaleY(0.96);
}

.navAnchor {
  outline: none;
  text-decoration: none;
  color: #000;
  padding: 0 1px;
}
.navAnchor::after {
  content: "";
  width: 0px;
  height: 1.7px;
  background: #2f80ed;
  position: absolute;
  bottom: -40%;
  left: 0%;

  transition: linear 0.2s;
}
.navAnchor:hover:after {
  width: 100%;
  transform: translateY(100%);
}
#hamburgerMenu {
  display: none;
  width: 44px;
  height: 26px;
}

/* HERO SECTION */
#heroImg {
  max-width: 1440px;
}
.heroSection header {
  position: absolute;
  top: 262px;
  right: 170px;
}
header h1 {
  color: #333;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}
header p {
  margin-top: 10px;
  color: #4f4f4f;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 138.19%;
}
.cta {
  margin-top: 58px;
}
#email {
  width: 370px;
  height: 66px;
  border: 2px solid #2f80ed;
  background-color: #cfcfcf11;
  font-size: 20px;
  font-weight: 400;
  color: #4f4f4f;
  padding: 0 20px;
}
#email::placeholder {
  font-size: 16px;
}
#btn {
  font-size: 20px;
  width: 270px;
  height: 66px;
  background-color: #2f80ed;
  color: white;
  margin-left: -5px;
  cursor: pointer;
}
#btn:hover {
  background-color: #2f80edcd;
  color: gold;
}

/* FEATURES SECTION */
.features {
  margin: 90px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}
.feature {
  width: 289px;
  text-align: center;
  padding: 20px;
}
.feature h3 {
  padding: 40px 40px 20px;
  color: #333333;
}
.feature p {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

/* TROMBONE VIDEO */
.videoSection {
  max-width: 1007px;
  height: auto;
  margin: 0 auto;
}
.videoWrapper {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.videoWrapper iframe {
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.videoImg {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  transition: all 4s linear;
}

/* TROMBONE IMAGE */
.tromboneImage {
  display: block;
  max-width: 414px;
  margin: 90px auto;
}

/* TROMBONE PLANS TITLE */
.plans h2 {
  text-align: center;
  font-size: 42px;
  color: #333333;
  letter-spacing: 0.085em;
  font-weight: normal;
  margin: 0 30px 30px;
}

/* TROMBONE PLANS */
.pDecks {
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.plan2 {
  margin-right: 69px;
  margin-left: 69px;
}
.pDeck {
  text-align: center;
  width: 335px;
  height: 555px;
  border: 1px solid #2f80ed70;
  border-radius: 10px;
  background: #e2e2e225;
  margin: 30px 0;
}
.pDeck:hover {
  width: 338px;
  height: 558px;
  background: #fff;
  border-width: 2px;
}
.pDeck h4 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.1em;
  background: #fff;
  width: 243px;
  margin: 0 auto;
  padding: 0 2px;
  position: relative;
  top: -24px;
}
.horizentalLine {
  margin-top: 72px;
  background: #2f80ed;
  height: 1px;
  width: 100%;
}
.pDeck h3 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 31px;
  position: relative;
}
.pDeck h3:after {
  content: "";
  display: block;
  width: 71px;
  height: 1px;
  background: #2f80ed;
  position: absolute;
  top: 110%;
  right: 30%;
}
.pDeck p {
  text-align: left;
  padding: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.7em;
  margin-left: 7px;
  margin-top: 44.5px;
  padding: 30px;
}
.pDeck button {
  color: white;
  background-color: #2f80ed;
  border-radius: 5px;
  width: 160px;
  height: 43px;
  margin-top: 34px;
}
.pDeck button:hover {
  cursor: pointer;
  width: 163px;
  height: 45px;
  background: #2f80eded;
  color: gold;
}

/* FOOTER SECTION */
.footer {
  margin-top: 90px;
  width: 100%;
  height: 135px;
  background: linear-gradient(
    194.07deg,
    rgba(207, 207, 207, 0.6) 15.4%,
    rgba(207, 207, 207, 0.83) 15.41%,
    rgba(205, 205, 205, 0.43) 44.74%,
    rgba(151, 155, 157, 0.21) 79.58%
  );
  mix-blend-mode: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footerNav li {
  display: inline-block;
  list-style: none;
  color: #333333;
  font-weight: Medium;
  letter-spacing: 0.085em;
  font-size: 18px;
}
.footer p {
  color: #333333;
  font-size: 16px;
  letter-spacing: 0.085em;
  line-height: 19px;
}
.footerNav li:nth-of-type(2) {
  margin-right: 92px;
  margin-left: 92px;
}
