@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Sans-Serif;
  font-size: 16px;
}

/* Elements style  */

#fullPage {
  max-width: 1440px;
  margin: 0 auto;
}

/* NAVIGATION  */
nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 299px;
  height: 34px;
}
.navigation {
  margin-right: 170px;
}
.navigation li {
  display: inline-block;
  list-style: none;
  margin: 0 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  transform: scaleY(0.96);
}

/* HERO SECTION */
/* .heroSection {
  position: sticky;
} */
#heroImg {
  max-width: 1440px;
}
header {
  position: absolute;
  top: 262px;
  right: 170px;
}
header h1 {
  color: #333;
  font-size: 60px;
  font-weight: 700;
  /* letter-spacing: -1.5px; */
  line-height: 70px;
}
header p {
  margin-top: 10px;
  color: #4f4f4f;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 138.19%;
  /* letter-spacing: 0.0025em; */
}
header .cta {
  margin-top: 58px;
}
#email {
  width: 370px;
  height: 66px;
  border: 2px solid #2f80ed;
  background-color: transparent;
  font-size: 20px;
}
#email::placeholder {
  font-size: 16px;
}
#btn {
  font-size: 20px;
  width: 270px;
  height: 66px;
  background-color: #2f80ed;
  color: white;
  margin-left: -10px;
}

/* FEATURES SECTION */
.features {
  /* width: 92%; */
  margin: 150px 90px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-between;
}
.feature {
  width: 289px;
  text-align: center;
  padding: 20px;
  /* margin: 10px 64px; */
}
.feature h3 {
  padding: 40px 40px 20px;
  color: #333333;
}
.feature p {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

/* TROMBONE VIDEO */
.videoSection {
  width: 1007px;
  height: 530px;
  margin: 0 auto;
}
.videoWrapper {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.videoWrapper iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
